<!DOCTYPE html>
<html>
<head>
    <title>String Analyser</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/components/prism-css.min.js" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism-okaidia.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<form>
    <div class='wrap'>
        <textarea id="input-string" name="input-string" rows="4" cols="50"></textarea>
    </div>
    <div class='wrap_submit'>
        <input class="button-83" type="submit" value="Analyze"/>
    </div>
</form>
<br/><br/>
<div>
<pre id="output-box" class="language-javascript" data-language="javascript"><code id="output" class="language-javascript"></code></pre>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}" ></script>
</body>
</html>
